<!DOCTYPE html>
<html lang="pt-br">

<%- include("includes/head.ejs") %>

<body>
    <section class="xcontainer">
        <h4 class="title"><strong> Cadastrar seu Nome </strong></h3>
        <div>
            <form action="/" class="form" method="post">
                <p>Nome:</p>
                <input type="text" class="nome">
                <button class="botao">Cadastrar</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
        <div id="resultado"></div>
    </section>
    <script src="/assets/js/bundle.js"></script>
</body>
</html>